.App {
  text-align: center;
  display: flex;
  justify-content: center;
  
}
#calculator{
  height: 450px;
  width: 300px;
  
  border-radius: 3px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.3); ;
}
#numbers{
display: flex;
justify-content: center;
width: 500px;
flex: wrap;
}
button{
  width: 75px;
  height: 80px;
  font: 900 30px Roboto;
  box-shadow:none;
  border: 1px solid white
}
#display{
  display: flex;
  width: auto;
  height: 50px;
  
  background-color: black;
  color: white;
  font: 600 30px Roboto;
  justify-content: flex-end;
  align-content: center;
  text-align: center;
}
#equals{
  width: 300px;
  background-color: orange;
}
#subtract, #add, #multiply,#divide{
  background-color: orange;
}